.env
.venv/
.corepack/
.npm-cache/
.pytest_cache/
__pycache__/
*.pyc
*.tsbuildinfo
frontend/node_modules/
frontend/dist/
backend/repositories/*
!backend/repositories/.gitkeep
backend/indexes/*
!backend/indexes/.gitkeep
backend/data/*
!backend/data/.gitkeep

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
